In [1]:
import pandas as pd

## Reading Data

In [2]:
df= pd.read_csv('data.csv')

In [3]:
df.head()

,Fever,body pain,age,runny nose,difficulty for breath,infection prob
0,101.373197,1,44,0,-1,0
1,99.402272,1,87,0,0,0
2,98.457544,1,62,1,0,1
3,98.537262,1,91,1,-1,0
4,100.507950,1,68,0,1,0

In [4]:
df.tail()

,Fever,body pain,age,runny nose,difficulty for breath,infection prob
2570,98.716912,1,89,1,1,0
2571,99.212005,1,34,0,1,0
2572,101.899784,1,14,0,-1,1
2573,99.771870,0,89,0,-1,0
2574,101.673180,1,50,0,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fever                  2575 non-null   float64
 1   body pain              2575 non-null   int64
 2   age                    2575 non-null   int64
 3   runny nose             2575 non-null   int64
 4   difficulty for breath  2575 non-null   int64
 5   infection prob         2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [27]:
df{'Fever'}.value_counts()

SyntaxError: invalid syntax (<ipython-input-27-b262834dd5a5>, line 1)

In [26]:
df{'Fever'}.value_counts()

SyntaxError: invalid syntax (<ipython-input-26-b262834dd5a5>, line 1)

In [28]:
df['Fever'].value_counts()

99.552568     1
98.266286     1
101.222491    1
99.329589     1
100.593820    1
             ..
99.817101     1
98.411135     1
98.838062     1
98.808151     1
99.149981     1
Name: Fever, Length: 2575, dtype: int64

In [29]:
df.describe()

,Fever,body pain,age,runny nose,difficulty for breath,infection prob
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.992512,0.494757,50.662136,0.510291,-0.012427,0.499417
std,1.151517,0.500070,29.260784,0.499991,0.816402,0.500097
min,98.003225,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,99.003685,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.986314,0.000000,51.000000,1.000000,0.000000,0.000000
75%,100.997526,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999824,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [13]:
import numpy as np

In [14]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [15]:
np.random.permutation(7)

array([2, 3, 6, 1, 4, 0, 5])

In [30]:
train, test = data_split(df,0.2)

In [17]:
train

,Fever,body pain,age,runny nose,difficulty for breath,infection prob
1703,98.406722,1,97,1,1,1
1675,100.003690,1,39,1,-1,1
1518,100.882379,1,96,1,1,0
361,98.533341,1,57,1,0,1
1544,98.736805,0,29,0,-1,0
...,...,...,...,...,...,...
1638,99.540528,1,39,1,1,1
1095,101.004079,1,31,1,1,1
1130,100.837802,0,95,1,1,1
1294,99.565076,1,50,1,-1,1
860,101.717919,1,17,0,-1,1

In [18]:
test

,Fever,body pain,age,runny nose,difficulty for breath,infection prob
1644,99.709401,0,48,1,-1,1
1189,100.243281,0,2,0,1,0
495,101.020105,0,72,0,0,0
1656,99.692413,0,88,0,-1,1
651,99.040600,1,95,0,0,0
...,...,...,...,...,...,...
1627,100.460368,1,23,0,0,1
471,99.180608,0,51,1,0,1
700,99.613467,1,17,0,1,0
25,101.642220,1,24,0,1,0
755,98.521984,0,59,0,0,1

In [19]:
x_train = train[['Fever','body pain','age','runny nose','difficulty for breath']].to_numpy()
x_test = test[['Fever','body pain','age','runny nose','difficulty for breath']].to_numpy()

In [20]:
y_train = train[['infection prob']].to_numpy().reshape(2060,)
y_test = test[['infection prob']].to_numpy().reshape(515,)

In [21]:
y_train

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
inputFeatures = [100,1,22,-1,1]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [32]:
infProb

0.4679481430643749